$dark-blue: hsl(236, 21%, 26%);
$dark-blue-shaded: hsl(237, 21%, 19%);
$very-dark-blue: hsl(234, 17%, 12%);
$Grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);
$soft-red-shaded: hsl(345, 52%, 53%);

$border-radius: 1rem;

$easeInOut: cubic-bezier(0.455, 0.03, 0.515, 0.955);


@mixin corner-dot {
    content: '';
    position: absolute;
    top: 6.5rem;
    left: -0.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $very-dark-blue;
    overflow: hidden;
}

.card-container {
    margin: auto;
    width: 15rem;
    height: 14rem;
    position: relative;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective-origin: 50% 50%;
    perspective: 80rem;

    p {
        color: $soft-red;
        font-size: 7.5rem;
        margin: 0;
    }
}

.upperCard, .lowerCard {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.upperCard {
    align-items: flex-end;
    border-top-left-radius: $border-radius ;
    border-top-right-radius: $border-radius ;
    background-color: $dark-blue-shaded;

    p {
        transform: translateY(50%);
        color: $soft-red-shaded;
    }

    &::before {
        @include corner-dot();
    }
    &::after {
        @include corner-dot();
        top: 6.5rem;
        left: 14.5rem;
    }
}

.lowerCard {
    align-items: flex-start;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: $dark-blue;
    
    box-shadow: 0 1rem 0.1rem $very-dark-blue;

    p {
        transform: translateY(-50%);
    }

    &::before {
        @include corner-dot();
        top: -0.5rem;
    }
    &::after {
        @include corner-dot();
        top: -0.5rem;
        left: 14.5rem;
    }
}

.flipcard {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
    backface-visibility: hidden;
}

.unfold {
    top: 50%;
    align-items: flex-start;
    transform-origin: 50% 0%;
    transform: rotateX(180deg);
    background-color: $dark-blue;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    animation: unfold 0.6s $easeInOut 0s 1 normal forwards;
    transform-style: preserve-3d;

    p {
        transform: translateY(-50%);
    }

    &::before {
        @include corner-dot();
        top: -0.5rem;
    }
    &::after {
        @include corner-dot();
        top: -0.5rem;
        left: 14.5rem;
    }
}

.fold {
    top: 0%;
    align-items: flex-end;
    transform-origin: 50% 100%;
    transform: rotateX(0deg);
    background-color: $dark-blue-shaded;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    animation: fold 0.6s $easeInOut 0s 1 normal forwards;
    transform-style: preserve-3d;

    p {
        transform: translateY(50%);
        color: $soft-red-shaded;
    }

    &::before {
        @include corner-dot();
    }
    &::after {
        @include corner-dot();
        top: 6.5rem;
        left: 14.5rem;
    }
}

@keyframes fold {
    0% {
        transform: rotateX(0deg);
    }
    55% {
        box-shadow: inset 0 0.5rem black;
    }
    100% {
        transform: rotateX(-180deg);
    }
}

@keyframes unfold {
    0% {
        transform: rotateX(180deg);
    }
    55% {
        box-shadow: inset 0 -0.5rem black;
    }
    100% {
        transform: rotateX(0deg);
    }
}

.card-label {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        margin-top: 2.5rem;
        color: $Grayish-blue;
    }
}

.preventAnimation {
    animation-duration: 0s;
}